<div class="col-sm-10 col-md-6 bg-dark center">
  <div *ngIf="passwordChangeRequired" class="text-warning mt-2">Please update your password</div>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="submit()" class="mb-5">
    <div class="form-group bg-dark text-center mt-2">
      <label for="oldPassword" class="text-white pb-2">Password</label>
      <div class="col-8 center">
        <input formControlName="oldPassword" type="password" class="form-control bg-dark text-white me-2" id="oldPassword">
      </div>
    </div>
    <div class="form-group bg-dark text-center mt-2">
      <label for="password" class="text-white pb-2">New Password</label>
      <div class="col-8 center">
        <input formControlName="password" type="password" class="form-control bg-dark text-white me-2" id="password">
      </div>
    </div>
    <div class="form-group bg-dark text-center mt-2">
      <label for="passwordRepeat" class="text-white pb-2">Repeat new password</label>
      <div class="col-8 center">
        <input formControlName="passwordRepeat" type="password" class="form-control bg-dark text-white me-2" id="passwordRepeat">
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-outline-success">Change password</button>
    </div>
    <p *ngIf="passwordChangedSuccess" class="text-success mt-2">Your password has been changed</p>
    <p *ngIf="passwordChangedFail" class="text-danger mt-2">The new password does not match password policies</p>
    <p *ngIf="passwordAlreadyUsed" class="text-danger mt-2">This password has already been used</p>
    <p *ngIf="wrongPassword" class="text-danger mt-2">Incorrect old password</p>
  </form>
</div>
