<div class="captcha-border p-3 shadow">
  <div *ngIf="captchaData">
    <p class="text-white text-center w-75 center">
      Verify that you are a human by selecting the image that is missing from the original one
    </p>
    <div class="d-flex justify-content-center mb-3" style="width: 640px">
      <img width="480px" height="480px" src="{{captchaImg}}">
    </div>
    <div style="width: 512px; margin-left: auto; margin-right: auto">
      <div class="d-flex justify-content-center flex-wrap">
        <div style="width: 110px;" class="m-2 captcha-select-image" *ngFor="let img of captchaOptions">
          <img width="110px" height="110px" src="{{img.image}}">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!captchaData">
    <div class="spinner-border text-white" role="status"></div>
  </div>
</div>



