<div *ngIf="!isAdmin" class="col-10 center text-center p-3">
  <h3 class="text-white">
    You don't have permission to view this site!!
  </h3>
  <img src="{{canaryToken}}" alt="">
</div>
<div *ngIf="isAdmin" class="col-10 center text-center p-3">
  <h3 class="text-white pb-3">
    Admin panel
  </h3>
  <ul class="nav nav-tabs d-flex justify-content-center">
    <li *ngFor="let tab of adminTabs; let i = index" class="nav-item">
      <a class="nav-link tab-btn" (click)="selectTab(i)" [ngClass]="tab.active ? 'active' : ''">{{tab.title}}</a>
    </li>
  </ul>
  <div [ngSwitch]="selectedTab">
    <app-account-manipulation (policyVisible)="showPolicyEdit($event)" (userEditVisible)="showUserEdit($event)" *ngSwitchCase="'ACCOUNT_MANIPULATION'"></app-account-manipulation>
    <app-user-add *ngSwitchCase="'USER_ADD'"></app-user-add>
    <app-reporting-view *ngSwitchCase="'REPORTING'"></app-reporting-view>
    <app-config *ngSwitchCase="'CONFIG'"></app-config>
  </div>
</div>
<app-user-edit *ngIf="userEditVisible" [user]="userForEdit" (visibilityChanged)="showUserEdit($event)"></app-user-edit>
<app-password-policies *ngIf="passwordPoliciesVisible" [userId]="userForEdit?.userId || ''" (visibilityChanged)="showPolicyEdit($event)"></app-password-policies>
