<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col" class="text-white">Date</th>
    <th scope="col" class="text-white">Type</th>
    <th scope="col" class="text-white">User ID</th>
    <th scope="col" class="text-white">Username</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let report of reports">
    <th scope="row" class="text-white">{{getDate(report.timestamp)}}</th>
    <td class="text-white">{{report.event_type}}</td>
    <td class="text-white">{{report.user_id}}</td>
    <td class="text-white">{{report.username}}</td>
  </tr>
  </tbody>
</table>
