<div class="col-sm-10 col-md-6 bg-dark center">
  <form [formGroup]="passwordResetForm" (ngSubmit)="submit()" class="mb-5">
    <h3 class="text-white text-center">Password Reset</h3>
    <p class="text-white text-center">Please provide email that is connected with your account.</p>
    <div class="form-group bg-dark text-center mt-2">
      <label for="email" class="text-white pb-2">Email</label>
      <div class="col-8 center">
        <input formControlName="email" type="email" class="form-control bg-dark text-white me-2" id="email">
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-outline-success">Send</button>
    </div>
  </form>
</div>
