.blurred-background {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
